<% exclude_repo_link %> 
<div class="main-container">
  <link href="https://styleguide.pivotal.io/app.css" type="text/css" rel="stylesheet"/>
  <style>
  body {
    overflow-y: inherit;
    background-color: #f8f8f8;
  }
  a, .link {
    border-bottom: none;
  }
  .container {
    background-color: #f8f8f8;
    max-width: none;
  }
  .external-link:after {
    content: none;
  }
  .docs-home-panel  {
    background-color: white;
    display: flex;
    flex-direction: column;

    box-shadow: none;
    margin: 0;
  }
  .docs-home-panel .logo-icon img {
    max-height: 4.8em;
  }
  .content a[href^="http"]:after {
    display: none;
  }
  .content a:focus,
  .content a:active,
  .content a:hover {
    border-bottom-style: none;
  }
  .content a:focus,
  .content a:active {
    background-color: transparent;
  }
  .content a:focus {
    text-decoration: none;
  }
  .container img {
    max-width: 6.4em;
    width: 100%;
  }
  .docs-link-panel {
    height: 120px;
  }
  .docs-link-panel:hover  {
    border-bottom: none;
  }
  .docs-link-panel > div {
    margin: 0 auto;
  }
  </style>
  
<div id="pcf-landing" class="main">

<h1 id="add-ons">Pivotal Cloud Foundry Runtimes</h1>
<br>
<h5>Cloud runtime environments that support apps, containers, and services on Linux and Windows VMs.</h5>
    <br />
    <div class="grid">
      <div class="col">
        <div class="grid">
          <div class="col col-12 col-sm">
            <a class="docs-home-panel box-shadow-1 border-rounded col mbxl" href="https://docs.pivotal.io/pivotalcf/customizing/pas.html">
              <div class="grid docs-link-panel mas">
                <div class="col col-4 col-middle"><img class="no-border" src="images/PVLG-PivotalApplicationService-Symbol.png" height="64"></div>
                <div class="col col-middle h4 em-high type-neutral-1">
                  PAS (Pivotal Application Service)
                  <h6 class="type-dark-4">Complete, scalable runtime environment, extensible to most modern frameworks or languages running on Linux.</h6>
                </div>
                <div class="col col-fixed col-bottom"><div class="type-brand-8 txt-b h6">PIVOTAL</div>
                </div>
              </div>
            </a>
          </div>
          <div class="col col-12 col-sm">
            <a class="docs-home-panel box-shadow-1 border-rounded col mbxl" href="https://docs.pivotal.io/pivotalcf/customizing/small-footprint.html">
              <div class="grid docs-link-panel mas">
                <div class="col col-4 col-middle"><img class="no-border" src="images/PVLG-PivotalApplicationService-Symbol.png" height="64"></div>
                <div class="col col-middle h4 em-high type-neutral-1">
                  Small Footprint PAS
                  <br>
                  <h6 class="type-dark-4">A repackaging of the PAS components into a smaller and more efficient deployment.</h6>
                </div>
                <div class="col col-fixed col-bottom"><div class="type-brand-8 txt-b h6">PIVOTAL</div>
                </div>
              </div>
            </a>
          </div>
          <div class="col col-12 col-sm">
            <a class="docs-home-panel box-shadow-1 border-rounded col mbxl" href="https://docs.pivotal.io/pivotalcf/windows/index.html">
              <div class="grid docs-link-panel mas">
                <div class="col col-4 col-middle"><img class="no-border" src="images/PVLG-PivotalApplicationService-Symbol.png" height="64"></div>
                <div class="col col-middle h4 em-high type-neutral-1">
                  PAS for Windows<br>
                  <h6 class="type-dark-4">Build and operate .NET and Windows apps on a modern application runtime.</h6>
                </div>
                <div class="col col-fixed col-bottom"><div class="type-brand-8 txt-b h6">PIVOTAL</div>
                </div>
              </div>
            </a>
          </div>
          <div class="col col-12 col-sm">
            </a>
            <a class="docs-home-panel box-shadow-1 border-rounded col mbxl" href="https://docs.pivotal.io/pivotalcf/customizing/installing-pcf-is.html">
              <div class="grid docs-link-panel mas">
                <div class="col col-4 col-middle"><img class="no-border" src="images/icon-isolation_segment@2x.png" height="64"></div>
                <div class="col col-middle h4 em-high type-neutral-1">
                  PCF Isolation Segment<br><h6 class="type-dark-4">Easily isolate apps and their data from other workloads in PCF.</h6>
                </div>
                <div class="col col-fixed col-bottom"><div class="type-brand-8 txt-b h6">PIVOTAL</div>
                </div>
              </div>
            </a>
          </div>
          <div class="col col-12 col-sm">
            <a class="docs-home-panel box-shadow-1 border-rounded col mbxl" href="https://docs.pivotal.io/runtimes/pks/index.html">
              <div class="grid docs-link-panel mas">
                <div class="col col-4 col-middle"><img class="no-border" src="images/pks.png" height="64"></div>
                <div class="col col-middle h4 em-high type-neutral-1">
                  PKS (Pivotal Container Service)<br>
                  <h6 class="type-dark-4">Reliably deploy and run containerized workloads across private and public clouds.</h6>
                </div>
                <div class="col col-fixed col-bottom"><div class="type-brand-8 txt-b h6">PIVOTAL</div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>